/*
************************
************************

 Discovery homepage CSS

************************
************************
*/

#bd_banner-top{
	border-bottom: none;
}

.home-wrap{
	position: relative;
}

.home-wrap img{
	display: block;
	margin: 0;
}

.home-position{
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.catslist{
	font-family: Arial, sans-serif;
	font-weight: 900;
	width:100%;
	list-style:none;
	text-align:center;
	text-transform:uppercase;
	text-align: center;
}

.catslist li{
	margin: 5px 0 0 0;
	padding: 4px;
	border: 1px solid black;
	color: black;
	background: rgba(255,255,255,.2);
}

.catslist a:hover li{
	background: rgba(0,0,0,.8);
	color: white;
	text-decoration:none;
}

.catslist a:hover{
	color: white;
	text-decoration: none;
}

@media all and (min-width:992px) and (max-width:1199px){
	.home-wrap img{
		max-width: 800px;
		display: block;
		margin: 0 auto;
	}


	.home-position{
		max-width: 800px;
		width: 90%;
		margin: 0 auto;
	}

}

@media all and (min-width:1200px){

	.home-position{
		position:absolute;
		top:5px;
		width: 100%;
	}

	.home-intro{
		margin: 0.64%;
		padding: 5px;
		border-bottom: 3px solid black;
		overflow: auto;
		text-align: left;
	}

	.home-intro h1{
		float:left;
		font-size: 3em;
		padding-right: 1%;
		border-right: 1px solid black;
		color: black;
	}

	.home-intro p{
		width: 75%;
		float:left;
		font-weight: 900;
		padding-left: 1%;
		color: black;
	}


	.catslist li{
		width: 13%;
		margin: 0 .64%;
		float:left;
	}

}

/*
************************
************************

     Index pages

************************
************************
*/

/* Relaxing some of the Bootstrap  */
.navbar, .navbar-default, .navbar-fixed-top {
	background-color: #000;
	font-family: Arial,sans-serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.jumbotron .discovery_headline h1 {
	font-size: 3em;
	line-height: 1.03;
	color: #000;
	margin-top: 5px;
}

.container .jumbotron {
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.jumbotron {
	padding-top: 0;
	padding-bottom: 10px;
	background-color: #fff;
}

/* Fixing navbar anchor conflict */
{# http://stackoverflow.com/questions/14526334/bootstrap-anchors-and-body-top-margin-padding#answer-14563699 #}
body {
	margin-top: 51px;
	-moz-osx-font-smoothing: grayscale;
}

h5 {
	padding-top: 51px;
	margin-top: -51px;
}

/* Discovery Tarbell project CSS */
#map {
	margin-bottom: 6px;
	margin-top: 14px;
}

/* Floating back-to-top link */
.back-to-top {
	display: none;
	position: fixed; bottom: 10px; right: 10px;
	width: 45px;
	height: 56px;
	padding: 10px;
	/* background-color: #eee; */
	font-weight: bold;
	/* border-radius: 3px; */
	text-align: center;
	font-size: 3em;
	margin-bottom: 5px;
}
.back-to-top a:hover {
	text-decoration: none;
}
.back-to-top a {
	line-height: 0;
}

/*
To counteract Leaflet-hostile "img: max-height: 100%;"" of line 4 in
bulldog.min.css
*/
ul li, dl dd {
	margin-left: 1em;
}

.nav > li > a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
}

img {
	max-height: inherit;
}

a {
	color: #00517e;
}

#bd_press p {
	margin-left: 15px;
}

#bd_flag a, #bd_flag a:visited, #bd_flag a:visited:hover, #bd_flag a:focus,
#bd_flag a:focus:hover, #bd_flag a:hover, #bd_flag a:active {
	color: #fff;
	font-size: 20px;
}

#bd_flag {
	top: inherit;
	margin-bottom: inherit;
}

/*
Moving Bootstrap's navbar collapse point via:
http://www.bootply.com/120604#
*/

@media (max-width: 1004px) {
	.navbar-header {
		float: none;
	}

	.navbar-left, .navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-collapse {
		margin-top: 45px;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-nav > li > a {
		padding-top:  10px;
		padding-bottom: 10px;
	}

	.collapse.in {
		display: block !important;
	}

	.navbar-header {
	  float: right;
	}
}

/* menu collapse monkeypatch */
@media (min-width: 769px) and (max-width: 1003px) {
	.navbar-brand {
		margin-left: 10px !important;
	}
}
