{% extends "_base.html" %}

<style>
	.catslist{
		margin:5px 0 0 0;
		background-color:black;
	}
</style>

{% block content %}

<div class="home-wrap">
	<img src="media/discovery.jpg" width="100%">
	<div class="home-position">
		<div class="home-intro">
			<h1>Discovery 2015</h1>
			<p>Summer’s here and the time is right not only for dancing in the street, but for paddling in a pristine lake, for hiking in a grand mountainscape, for reveling in the great outdoors — but first, for daydreaming in the pages of The Register-Guards’ 14th-annual Discovery Magazine. Read, plan, have fun!</p>
		</div>
		<ul class="catslist">
			<a href="/breweries/"><li>Breweries</li></a>
			<a href="/campgrounds/"><li>Campgrounds</li></a>
			<a href="/disc/"><li>Disc golf</li></a>
			<a href="/festivals/"><li>Festivals</li></a>
			<a href="/golf/"><li>Golf</li></a>
			<a href="/museums/"><li>Museums</li></a>
			<a href="/wineries/"><li class="catslist">Wineries</li></a>
		</ul>
	</div>
</div>

{% endblock content %}

