{% extends "_base.html" %}

{% block title %}{{ super() }} | Lane County area golf courses{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<header>
			<div id="loc">
				<hgroup>
					<div class="streamer">
						<h1>
							<a href="http://registerguard.com/rg/life/discovery/">Discovery</a>
						</h1>
						<h2>
							<a href="/discovery/">Adventure guide</a>
						</h2>
					</div>
				</hgroup>
			</div>
		</header>
		<div class="discovery_headline">
			<h1>Lane County area golf courses</h1>
		</div>
		<div id="map" style="width:100%; height:{{ map_height }};"></div>
		{% for data in golf %}
			{% if data.point_1 %}
				{% if data.area != previous_area %}<h3 class="label">{{ data.area }}</h3>{% endif %}
				{% set previous_area = data.area %}
				<h5 id="{{ data.id }}">{{ data.name }}</h5>
				<h2 class="sh6">{{ data.operator_address }}</h2>
				<ul class="li2">
					<li>{{ data.point_1 }}</li>
					<li>{{ data.point_2 }}</li>
					<li>{{ data.point_3 }}</li>
					<li>{{ data.point_4|urlize }}</li>
					{% if data.point_5 %}<li>{{ data.point_5|urlize }}</li>{% endif %}
					{% if data.point_6 %}<li>{{ data.point_6 }}</li>{% endif %}
					{% if data.point_7 %}<li>{{ data.point_7|urlize }}</li>{% endif %}
					{% if data.point_8 %}<li>{{ data.point_8 }}</li>{% endif %}
					{% if data.point_9 %}<li>{{ data.point_9 }}</li>{% endif %}
					{% if data.point_10 %}<li>{{ data.point_10 }}</li>{% endif %}
					{% if data.point_11 %}<li>{{ data.point_11 }}</li>{% endif %}
					{% if data.point_12 %}<li>{{ data.point_12 }}</li>{% endif %}
				</ul>
			{% endif %}
		{% endfor %}
	</div>
</div>
<script type="text/javascript">
	var map = L.map('map').setView([43.950529715, -122.91929255], 9);
	var mapquestLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: 'Map data © <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>'
	});
	map.addLayer(mapquestLayer);
	var data = {
		"type": "FeatureCollection",
		"features": [
		{% for data in golf %}
			{% if data.lat %}
			{
				"type": "Feature",
				"properties": {
					"full_name": "{{ data.name }}",
					"id": "{{ data.id }}"
				},
				"geometry": {
					"type": "Point",
					"coordinates": [{{ data.lng }}, {{ data.lat }}]
				}
			}{% if not loop.last %},{% endif %}
			{% endif %}
		{% endfor %}
		]
	};
	var markers = L.markerClusterGroup();
	var dataLayer = L.geoJson(data, {
		onEachFeature: function(feature, layer){
			layer.bindPopup(
				'<a href="#' + feature.properties.id + '">' +
					feature.properties.full_name +
				'</a>'
			);
		}
	});
	markers.addLayer(dataLayer);
	map.addLayer(markers);
	map.fitBounds(markers.getBounds());
</script>
{% endblock content %}
