<<<<<<< HEAD
.home-wrap{
	position: relative;
}

.home-wrap img{
	display: block;
	margin: 0;
}

.home-position{
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.catslist{
	font-family: Arial, sans-serif;
	font-weight: 900;
	width:100%;
	list-style:none;
	text-align:center;
	text-transform:uppercase;
	text-align: center;
}

.catslist li{
	margin: 5px 0 0 0;
	padding: 4px;
	border: 1px solid black;
	color: black;
	background: rgba(255,255,255,.2);
}

.catslist a:hover li{ 
	background: rgba(0,0,0,.8);
	color: white;
	text-decoration:none;
}

.catslist a:hover{
	color: white;
	text-decoration: none; 
}

@media all and (min-width:992px) and (max-width:1199px){
	
	.home-position{
		max-width: 800px;
		width: 90%;
		margin: 0 auto;
	}
	
}

@media all and (min-width:1200px){
	
	.home-position{
		position:absolute;
		top:5px;
		width: 100%;
	}
	
	.home-intro{
		margin: 0.64%;
		padding: 5px;
		border-bottom: 3px solid black;
		overflow: auto;
		text-align: left;
	}
	
	.home-intro h1{
		float:left;
		font-size: 3em;
		padding-right: 1%;
		border-right: 1px solid black;
		color: black;
	}
	
	.home-intro p{
		width: 64%;
		float:left;
		font-weight: 900;
		padding-left: 1%;
		color: black;
	}

	
	.catslist li{
		width: 13%;
		margin: 0 .64%;
		float:left;
	}
	
}
=======

>>>>>>> 77cde89b6fef2066386d2eb6da9f39cf18615689
